---
/**
 * @license
 * Copyright (c) 2022 Jozef Steinhübl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

import { readFile } from "node:fs/promises";
import { createRequire } from "node:module";

import { toolkit } from "../../data/about";
import ToolkitInteractive from "./ToolkitInteractive.svelte";

const require = createRequire(import.meta.url);
async function getLocalSVG(iconString: string) {
  const [prefix, name] = iconString.split(":");

  const jsonPath = require.resolve(`@iconify-json/${prefix}/icons.json`);
  const fileContent = await readFile(jsonPath, "utf-8");
  const json = JSON.parse(fileContent);

  const iconDef = json.icons[name];
  if (!iconDef) return "";

  const width = iconDef.width || json.width || 24;
  const height = iconDef.height || json.height || 24;

  return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ${width} ${height}">${iconDef.body}</svg>`;
}

const toolkitWithIcons = await Promise.all(
  toolkit.map(async (tech) => {
    return { ...tech, svg: await getLocalSVG(tech.icon) };
  }),
);
---

<div class="pt-8 border-t border-white/10">
  <h2 class="text-2xl font-bold text-white mb-8">My Toolkit</h2>

  <ToolkitInteractive client:visible toolkit={toolkitWithIcons} />
</div>
